name: Build PR
on: [pull_request]
jobs:
  build_pr:
    if: github.repository_owner == 'OneLiteFeatherNET'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Build on ${{ matrix.os }}
        run: ./gradlew clean build